@charset "utf-8";

@font-face {
    font-family: 'Happiness-Sans-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.logo {
    margin: 50px 0;
    font-size: 30px;
    text-align: center;
    font-family: 'Nanum Brush Script', cursive;
}

.topMenu {
    margin-left: 70px;
    margin-top: 30px;
    float: left;
    position: relative;
    width: 50%;
    margin-bottom: 20px;
    text-align: center;
    height: 40px;
}

.topMenu:after {
    content: "";
    display: block;
    clear: both;
}

.menu01>li {
    float: left;
    width: 20%;
    line-height: 40px;
}

.menu01 {
    width: 100%;
}

.menu01 span {
    font-size: 20px;
    font-weight: bold;
}

.menuinfo {
    margin-left: 20px;
}

.dept01 {
    display: none;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    position: absolute;
    top: 40px;
    display: none;
    width: 500px;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    background: #fff;
}
.dept02 {
    display: none;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    position: absolute;
    top: 40px;
    display: none;
    width: 500px;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    background: #fff;
}

#nop {
    font-family: 'Happiness-Sans-Bold';
    font-size: 15px;
    float: none;
    text-align: left;
    padding-left: 5px;
}

.none:after {
    content: "";
    display: block;
    clear: both;
}

.banner-container {
    width: 100vw;
    height: 350px;
    overflow: hidden;
}

.banner {
    width: calc(100vw*4);
    height: 100%;
    display: flex;
    animation: animation1 10s infinite;
    /*기본 전환 animation을 위한 설정*/
    -webkit-transition: all 0.5s cubic-bezier(1, .01, .32, 1);
    -moz-transition: all 0.5s cubic-bezier(1, .01, .32, 1);
    -o-transition: all 0.5s cubic-bezier(1, .01, .32, 1);
    -ms-transition: all 0.5s cubic-bezier(1, .01, .32, 1);
    transition: all 0.5s cubic-bezier(1, .01, .32, 1);
}

.banner>div {
    width: 100vw;
    height: 100%;
}

.banner>div:nth-child(1) {
    background-color: #2E4559;
}

.banner>div:nth-child(2) {
    background-color: #4A6D8C;
}

.banner>div:nth-child(3) {
    background-color: #6A8AA6;
}

.banner>div:nth-child(4) {
    background-color: #A9C6D9;
}

.list-button {
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    margin-top: -30px;
    position: absolute;
    z-index: 2;
}

.list-button-item {
    width: 10px;
    height: 10px;
    border-radius: 5rem;
    background-color: black;
    cursor: pointer;
    display: inline-block;
    margin: 6px;
}

.list-button-item.active {
    background-color: white;
}

@keyframes animation1 {
    0% {
        margin-left: 0
    }

    20% {
        margin-left: 0
    }

    25% {
        margin-left: -100%
    }

    45% {
        margin-left: -100%
    }

    50% {
        margin-left: -200%
    }

    70% {
        margin-left: -200%
    }

    75% {
        margin-left: -300%
    }

    95% {
        margin-left: -300%
    }

    100% {
        margin-left: 0
    }
}

@keyframes animation2 {
    0% {
        margin-left: -100%
    }

    20% {
        margin-left: -100%
    }

    25% {
        margin-left: -200%
    }

    45% {
        margin-left: -200%
    }

    50% {
        margin-left: -300%
    }

    70% {
        margin-left: -300%
    }

    75% {
        margin-left: 0
    }

    95% {
        margin-left: 0
    }

    100% {
        margin-left: -100%
    }
}

@keyframes animation3 {
    0% {
        margin-left: -200%
    }

    20% {
        margin-left: -200%
    }

    25% {
        margin-left: -300%
    }

    45% {
        margin-left: -300%
    }

    50% {
        margin-left: 0
    }

    70% {
        margin-left: 0
    }

    75% {
        margin-left: -100%
    }

    95% {
        margin-left: -100%
    }

    100% {
        margin-left: -200%
    }
}

@keyframes animation4 {
    0% {
        margin-left: -300%
    }

    20% {
        margin-left: -300%
    }

    25% {
        margin-left: 0
    }

    45% {
        margin-left: 0
    }

    50% {
        margin-left: -100%
    }

    70% {
        margin-left: -100%
    }

    75% {
        margin-left: -200%
    }

    95% {
        margin-left: -200%
    }

    100% {
        margin-left: -300%
    }
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

ul:not(.event),
li {
    list-style-type: none;
    float: left;

}

ul:not(.event) {
    z-index: 999;
}

.botan {
    font-size: 15px;
    text-decoration-line: none;
    border-radius: 6mm;
    color: white;
}

.boxx {
    width: 365px;
    font-size: 20px;
    font-family: 'Happiness-Sans-Bold';
    text-decoration: none;
    color: black;
    float: left;
    margin-left: 30px;
    margin-bottom: 50px;
    border-left: 1px solid rgba(128, 128, 128, 0);
    border-bottom: 1px solid rgba(128, 128, 128, 0);
    border-right: 1px solid rgba(128, 128, 128, 0);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.212);
    border-radius: 3mm;
}

.text {
    margin-top: 0%;
    padding: 20px;
}

img {
    border-top-left-radius: 3mm;
    border-top-right-radius: 3mm;
}

.mctext {
    margin-bottom: 30px;
    margin-top: 30px;

}

footer {
    background-color: #292929;
}

.info {
    color: rgb(233, 233, 233)
}

.topmenu {
    margin-left: 70px;
}

.footerlinks {
    margin-right: 20px;
}

/* .event {
    width: 100%;
    min-width: 1250px;
} */


.center {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 2%;
}
