@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

*{ font-family: 'Gothic A1', sans-serif;}

ul,li{
    list-style-type: none;
    color: rgb(226, 218, 209);
}

ul{
    font-family: 'Gothic A1', sans-serif;
    float: left;
}
li{
    font-family: 'Gothic A1', sans-serif;
    float: left;
}