@charset "utf-8";

.h_menu {
    float: left;
    font-weight: bold;
    position: relative;
}

.menu_pan {
    width: 100%;
    background: #fff;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
    padding-left: 180px;
    font-size: 15px;
    display: none;
}

.menu_category {
    float: left;
    margin: 30px 0;
}

.category:nth-child(1) {
    font-weight: bold;
}

.category {
    padding: 9px 0px;
    margin-right: 100px;
}

.category:hover {
    text-decoration: underline;
}

